# Dependencies
node_modules/
.pnp
.pnp.js

# Testing
coverage/

# Production
dist/
build/

# Hardhat
artifacts/
cache/
typechain-types/
flattened/
slither-report.json

# Environment Variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
logs/
*.log

# Editor/OS Specific
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.DS_Store
Thumbs.db

# Misc
.cache/
.eslintcache
.stylelintcache
node_modules/
.npm
.yarn-integrity
.temp
.tmp
